<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Driver</title>
</head>
<body>

<form action="/driver/add" method="post" enctype="multipart/form-data">
    <label>Imię:</label>
    <input type="text" name="firstName">
    <label>Nazwisko:</label>
    <input type="text" name="lastName">

    <label>Kategorie prawa jazdy:</label>
    <label for="license">C1</label>
    <input type="checkbox" id="license" value="C1" name="license">
    <label for="license">C1+E</label>
    <input type="checkbox" id="license" value="C1E" name="license">
    <label for="license">C+E</label>
    <input type="checkbox" id="license" value="CE" name="license">


    </select>

    <button type="submit">Dodaj</button>
</form>
<a href="/">Powrót</a>


</body>
</html>