<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Driver</title>
</head>
<body>
<div th:text="${error}"> </div>
<h1> Dodaj Kierowce</h1>

<form th:object="${driver}" action="/driver/add" method="post" enctype="multipart/form-data">
    <label>Imię:</label>
    <input type="text" th:field="*{firstName}">
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    <br>
    <label>Nazwisko:</label>
    <input type="text" th:field="*{lastName}">
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    <br>
    <br>
    <label for="salary">Wynagrodzenie: </label>
    <select th:field="*{salaryType}" id="salary">
        <option value="BASIC">KATEGORIA I</option>
        <option value="MEDIUM">KATEGORIA II</option>
        <option value="HIGH">KATEGORIA III</option>
        <br>
        <br>
    </select>
    <label for="salary">PREMIA Uznaniowa: </label>
    <input type="checkbox" id="salary" value="DISCRETIONARY_BONUS" name="salaryType">
        <br>
        <br>
    <label>Kategorie prawa jazdy:</label>
    <label for="license">C1</label>
    <input type="checkbox" id="license" value="C1" name="license">
    <label for="license">C1+E</label>
    <input type="checkbox" id="license" value="C1E" name="license">
    <label for="license">C+E</label>
    <input type="checkbox" id="license" value="CE" name="license">
    </select>
        <br>
        <br>
    <button type="submit">Dodaj</button>
</form>
<br>
<br>
<a href="/">Powrót</a>


</body>
</html>