<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Driver</title>
</head>
<body>

<form action="/driver/add" method="post" enctype="multipart/form-data">
    <label>Imię:</label>
    <input type="text" name="firstName">
    <label>Nazwisko:</label>
    <input type="text" name="lastName">
    <label>C1</label>
    <input type="checkbox" id="C1" name="licenses" value="C1">


    <button type="submit">Dodaj</button>
</form>
<a href="/">Powrót</a>


</body>
</html>