<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja do zarządzania flotą pojazdów w firmie</title>
    <!--  <link rel="stylesheet" type="text/css" href="styles.css"/>-->
    <!--  <script src="script.js" defer></script>-->
</head>
<body>
<h1></h1>
<h2>Wybierz działenie</h2>
<h3 th:text="${message}"></h3>
<ul>

    <li><a href="/truck/add"> Dodaj Pojazd</a></li>
    <li><a href="/driver/add">Dodaj Kierowce</a></li>
    <li><a href="/order/add">Dodaj zlecenie</a></li>
    <li><a href="/trailer/add">Dodaj naczepę</a></li>
    <li><a href="/tire/add">Dodaj opone</a></li>
    <li><a href="/order/find">Przeglądaj zlecenia</a></li>
    <li><a href="/orders">Panel zamówień</a></li>
    <br>
    <li><a href="/console">Debug: Konsola bazy danych</a></li>

</ul>
</body>
</html>