<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe zlecenie</title>
</head>
<body>
<h1> Dodaj nowe zlecenie transportowe</h1>
<form action="/order/add" method="post">
    <label>Punkt początkowy</label>
    <input type="text" name="startingPoint">
    <br>
    <label>Punkt końcowy</label>
    <input type="text" name="destination">
    <br>
    <label>Data rozpoczęcia zlecenia</label>
    <input type="date" name="startDate">
    <br>
    <label>Data zakończenia zlecenia</label>
    <input type="date" name="endDate">
    <br>
    <label>Status</label>
    <select name="orderStatus" id="orderStatus">
        <option value="IN_PREPARATION">IN_PREPARATION</option>
        <option value="IN_PROGRESS">N_PROGRESS</option>
        <option value="DONE">DONE</option>
        <option value="CANCELLED">CANCELLED</option>
    </select>
    <br>
    <label>Cena ofertowa</label>
    <input type="number" name="offeredPrice">
    <br>
    <button type="submit">Utwórz zlecenie</button>

</form>
</body>
</html>